
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']" [routerLinkActive]="['active']">Startup On Fire</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li></li>
        <li><a [routerLink]="['/dashboard-startup']" [routerLinkActive]="['active']">Dashboard startup</a></li>
        <li><a [routerLink]="['/dashboard-investor']" [routerLinkActive]="['active']">Dashboard investor</a></li>
        <li><a [routerLink]="['/startup-list']" [routerLinkActive]="['active']">Startup list</a></li>
        <li><a [routerLink]="['/about']" [routerLinkActive]="['active']">About us</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div><!--container end-->
