<div *ngIf="loading" class="loading"><p>Loading ...</p> <img src="/loading.gif" /> </div>

<div *ngIf="!loading">
  <div style="float:right">
    <input type="submit" name="edit" value="Edit company details" class="btn btn-primary" />
    <input type="submit" name="new_fund" value="Add new fund" class="btn btn-success" />
  </div>

  <h1>Startup Dashboard</h1>

  <h2> Funds </h2>
  <div *ngFor="let fund of startup.funds">
    <div class="bs-example" style="font-size: 1.2em;">
      <div style="float:right; margin-top: 1px;" [innerHTML]="currentRetailPrice(fund)"></div>
      <span class="label label-success">{{fund.description}}</span> launched on {{fund.launchDate | date: 'dd/MM/yyyy'}}
    </div>
    <figure class="highlight">Current progression {{progression(fund)}}%</figure>
  </div>

  <h2> Investors </h2>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th style="text-center">Capital owner</th>
      <th>Funds</th>
    </tr>
    <tr *ngFor="let key of keys();">
      <td>{{investors[key].name}}</td>
      <td>{{owningPercent(key)}}%</td>
      <td>&nbsp;<span class="label label-success" *ngFor="let fund of investors[key].funds">{{fund}}</span></td>
    </tr>
  </table>
</div>
