<div *ngIf="loading" class="loading"><p>Loading ...</p> <img src="/loading.gif" /> </div>

<div *ngIf="!loading">
  <h1>Investor Dashboard</h1>

  <h2> Startups </h2>
  <table class="table table-striped" *ngIf="investor">
    <tr>
      <th>Startup</th>
      <th class="text-center">Part number</th>
      <th class="text-right">Part retail price</th>
      <th class="text-center">Action</th>
    </tr>
    <tr *ngFor="let action of investor.actions">
      <td>{{action.fund.startup.name}}</td>
      <td class="text-center">&nbsp;<span class="label label-primary">{{action.nbAction}} parts</span></td>
      <td class="text-right">{{currentRetailPrice(action)}}</td>
      <td class="text-center">
        <button type="submit" class="btn btn-danger btn-xs" (click)="sell(action.fund.startup.id)">Sell</button>
      </td>
    </tr>
  </table>
</div>
