<h1>Home sweet home (on fire)</h1>
<h2>Who are we ?</h2>
<p>
  We are two youngs engineer who wants to help startup !
</p>

<h2> What's the problematic ? </h2>
<p>
  As a new startup, finding an investor can be really difficult and
  as a mature startup, the stock exchange scares !
</p>

<h2>What are we doing ?</h2>
<p>
  We built a complete stock exchange system for startup.
  The idea is to connect investor with startup and no more with "a packet of startup"
  without knowing anything except that they will be benefit.
  Here we talk about believes, believes about what the startup is doing !
</p>
