
<div *ngIf="loading" class="loading"><p>Loading ...</p> <img src="/loading.gif" /> </div>

<div *ngIf="!loading">
  <h1>Startup list</h1>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Categories</th>
      <th class="text-center">Status</th>
      <th class="text-center">Creation date</th>
    </tr>
    <tr *ngFor="let startup of allStartups">
      <td><a [routerLink]="['/startup-details', startup.id]">{{startup.name}}</a></td>
      <td><span *ngFor="let category of startup.categories" class="label label-primary">{{category.name}}</span> </td>
      <td class="text-center">
        <span class="label label-primary" *ngIf="isBuyAvailable(startup)">Buy available</span>
        <span class="label label-warning" *ngIf="isSaleAvailable(startup)">Sale available</span>
      </td>
      <td class="text-center">{{startup.creationDate | date: 'dd/MM/yyyy'}}</td>
    </tr>
  </table>
</div>
