<!-- ===========================
HEADER
============================ -->
<div *ngIf="loading" class="loading"><p>Loading ...</p> <img src="/loading.gif" /> </div>

<div id="header" class="row" *ngIf="!loading">
    <div class="col-sm-5" *ngIf="startup">
        <img class="propic" src="{{startup.image}}" alt="">
    </div>
    <!-- photo end-->

    <div class="col-sm-7">
        <div class="cv-title">
            <div class="row">
                <div class="col-sm-7">
                    <h1>{{startup.name}}</h1>
                </div>
            </div>
            <h2><span *ngFor="let category of startup.categories" class="label label-primary">{{category.name}}</span></h2>
        </div><!-- Title end-->

        <!-- ===========================
        SOCIAL & CONTACT
        ============================ -->
        <div class="row">
            <div class="col-sm-7">
                <ul class="list-unstyled">
                    <li><a href="{{startup ? startup.website : null}}"><span class="social fa fa-home"></span>{{startup ? startup.website : ""}}</a>
                    </li>
                    <li><a href="tel:{{startup ? startup.phone : null}}"><span class="social fa fa-skype"></span>{{startup ? startup.phone : ""}}</a>
                    </li>
                    <li><a href="mailto:{{startup ? startup.mail : null}}"><span class="social fa fa-envelope-o"></span>{{startup ? startup.mail : ""}}</a>
                    </li>
                </ul>
            </div><!-- social 1st col end-->

            <div class="col-sm-5">
                <ul class="list-unstyled">
                    <li *ngIf="startup && startup.facebook"><a href="{{startup.facebook}}"><span class="social fa fa-facebook"></span>Facebook</a></li>
                    <li *ngIf="startup && startup.twitter"><a href="{{startup.twitter}}"><span class="social fa fa-twitter"></span>Twitter</a></li>
                    <li *ngIf="startup && startup.linkedin"><a href="{{startup.linkedin}}"><span class="social fa fa-linkedin"></span>Linkedin</a></li>
                </ul>
            </div><!-- social 2nd col end-->
        </div><!-- header social end-->
    </div><!-- header right end-->
</div><!-- header end-->

<hr class="firsthr" *ngIf="!loading">

<!-- ===========================
BODY LEFT PART
============================ -->
<div class="col-md-8 mainleft" *ngIf="!loading">
    <div id="statement" class="row mobmid">
        <div class="col-sm-1">
            <span class="secicon fa fa-user"></span>
        </div><!--icon end-->

        <div class="col-sm-11">
            <h3>Who are we</h3>
            <p [innerHTML]="startup.companyDescription"></p>
        </div><!--info end-->
    </div><!--personal statement end-->

    <hr />

    <!-- ===========================
    STARTUP WORK
    ============================ -->
    <div id="job" class="row mobmid">
        <div class="col-sm-1">
            <span class="secicon fa fa-briefcase"></span>
        </div><!--icon end-->

        <div class="col-sm-11">
            <h3>What are we doing</h3>
            <div [innerHTML]="startup.workDescription"></div>
        </div><!--Job experiences end-->
    </div><!--Job experiences end-->
</div><!--left end-->

<!-- ===========================
SIDEBAR
=========================== -->
<div class="col-md-4 mainright" *ngIf="!loading">
    <div class="row">
        <div class="col-sm-1 col-md-2 mobmid">
            <span class="secicon fa fa-magic"></span>
        </div><!--icon end-->

        <div class="col-sm-11 col-md-10">
            <h3 class="mobmid">What are we searching for</h3>
            <div *ngFor="let fund of startup.funds">

              <p>We want to raise for {{fund.amount}}$ of funds with {{fund.nbActions}} parts of {{partPrice(fund)}}$</p>
              <p>Available (buy)</p>
              <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{availableToBuy(fund)}}" attr.aria-valuemin="0" attr.aria-valuemax="100" [style.width]="availableToBuy(fund) + '%'">
                      <span class="sr-only">{{availableToBuy(fund)}}% Complete (success)</span>
                  </div>
              </div><!--skill end-->


              <p>Available (resale)</p>
              <div class="progress">
                  <div class="progress-bar progress-bar-warning" role="progressbar" attr.aria-valuenow="{{currentlySelling(fund)}}" attr.aria-valuemin="0" attr.aria-valuemax="100" [style.width]="currentlySelling(fund) + '%'">
                      <span class="sr-only">{{currentlySelling(fund)}}% Complete</span>
                  </div>
              </div><!--skill end-->

              <form *ngIf="currentlySelling(fund) + availableToBuy(fund) > 0" #f="ngForm" (ngSubmit)="invest(f.value)">
                <input class="btn btn-success btn-lg btn-block" type="submit" value="Invest" >
              </form>

              <hr />
            </div>
        </div><!--info end-->
    </div><!--tech skills end-->
</div><!--right end-->
