
<div *ngIf="loading" class="loading"><p>Loading ...</p> <img src="/loading.gif" /> </div>

<div class="row" *ngIf="!loading">

  <h1>Invest in the startup {{startup.name}}</h1>

  <div class="col-md-8 mainleft">
      <h2>Sell your fund part</h2>
      <form #f1="ngForm" (ngSubmit)="invest(f1.value, fund)">
        <div class="col-md-6 mainleft">
          <div class="form-group">
            <label for="date">Expiration date</label>
            <input type="text" class="form-control" id="date" placeholder="Expiration date">
          </div>
          <div class="form-group">
            <label for="date">Limit price</label>
            <input type="text" class="form-control" id="date" placeholder="Limit price">
          </div>
        </div>
        <div class="col-md-6 mainright">
          <div class="form-group">
            <label for="date">Start price</label>
            <input type="text" class="form-control" id="date" placeholder="Start price">
          </div>
            <div class="form-group">
              <label for="date">Number of parts</label>
              <input type="text" class="form-control" id="date" placeholder="Start price">
            </div>
        </div>
        <div class="col-md-12">
          <input class="btn btn-warning btn-lg btn-block" type="submit" value="Sell" />
        </div>
      </form>
  </div>

  <div class="col-md-4 mainright">
    <h2 class="mobmid">Buy a fund part</h2>
    <form #f2="ngForm" (ngSubmit)="invest(f2.value, fund)">
      <div class="form-group">
        <label for="fund">Fund</label>
        <select id="fund" class="form-control" (change)="onChange($event.target.value)">
          <option selected disabled>Choose a fund</option>
          <option *ngFor="let fund of startup.funds" [value]="fund.id">{{fund.description}} - {{partPrice(fund)}}$ / part</option>
        </select>
      </div>
      <div class="form-group" *ngIf="availableToBuy() > 0">
        <label for="parts">Number of parts (max {{availableToBuy()}})</label>
        <div class="input-group" style="margin-bottom: 15px;">
          <div class="input-group-addon">#</div>
          <input id="parts" type="text" ngModel  class="form-control" name="nbPart" placeholder="Number of parts (max {{availableToBuy()}})" />
        </div>
        <input class="btn btn-success btn-lg btn-block" type="submit" value="Invest" />
      </div>
    </form>
  </div>

  <div class="col-sm-12 col-md-12">
    <h2>Buy a resold fund part</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Fund</th>
          <th>Expiration</th>
          <th>Price</th>
          <th>Number</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let fund of startup.funds">
        <tr *ngFor="let order of fund.orders">
          <td>{{fund.description}}</td>
          <td>{{order.expirationDate | date: 'dd/MM/yyyy'}}</td>
          <td [innerHTML]="currentRetailPrice(fund, order.directPrice)"></td>
          <td>{{order.nbAction}}</td>
          <td><input class="btn btn-success btn-xs" type="submit" value="Buy" /></td>
        </tr>
      </tbody>
      <tbody *ngIf="!hasSellingPart()">
        <tr>
          <td colspan="5" class="text-center">Presently, there isn't any investor part sale.</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
